.div-principal {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: azure;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(188, 224, 224, 0.774);
}

.sec-comentarios {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.BOLA {
    display: inline-block;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: rgba(153, 199, 199, 0.781);
    margin-right: 1vh;
    flex-shrink: 0;
    border: none;
}

.div-perfil {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#div-header-titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mural-maquinas {
    margin: 1vh;
    font-size: 25px;
}
.container-lista
{
    width: 100%;
    margin: 15px;
}