<div class="div-principal">
    <header class="cabecalho">
        <div id="div-header-titulo">
            <h1>AgroTec</h1>
        </div>
        <div class="div-perfil">
            <button class="BOLA"></button>
            <div class="div-bola-fortatacao">
                <h4>Perfil</h4>
            </div>
        </div>
    </header>
    <main class="sec-comentarios">
        <div class="container-lista" *ngFor="let item of maquinas">
            <app-card-maquinas [maquina]="item">
            </app-card-maquinas>
        </div>
    </main>
</div>