:host {
    width: 100%;
    height: 15vh;
}

.art-comentario {
    background-color: rgba(188, 224, 224, 0.774);
    margin: 0vh;
    padding: 0.2vh;
    width: 95%;
    height: 13vh;
    min-height: 10vh;
    max-height: 23vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 1cap;
}

.div-infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
}

.BOLA {
    display: inline-block;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    background-color: rgba(153, 199, 199, 0.781);
    margin-right: 1vh;
    flex-shrink: 0;
    border: none;
}

.bola-comentarios {
    height: 6.5vh;
    width: 6.5vh;
    margin-left: 1.5vh;
    margin-bottom: auto;
}

.div-bola-fortatacao {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-right: 1vh;
}
#nome{
margin-block-start: 0em;
    margin-block-end: 0em;
}
#status{
margin-block-start: 0em;
    margin-block-end: 0em;
}